<div class="styleInputWrapper">
  <label>{{ config.inputName }}</label>
  <mat-select
    disableOptionCentering
    [(value)]="selectedValue"
    [disabled]="disabled"
    [classList]="['matSelectBaseStyle']"
    [panelClass]="panelClass"
    (selectionChange)="onOptionSelected($event.value)"
    [attr.data-test-id]="
      'style-select-' + config.inputName.toLowerCase().replace(' ', '-')
    "
  >
    <mat-select-trigger class="style-input-trigger">
      <span class="style-input-icon" [innerHTML]="selected.img"></span>
    </mat-select-trigger>
    <mat-option
      [value]="opt.optionValue"
      class="style-input-option"
      *ngFor="let opt of config.options"
    >
      <span class="style-input-icon" [innerHTML]="opt.img"></span>
    </mat-option>
  </mat-select>
</div>
