.coordinateWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.3125rem;

  .coordinateInput {
    display: flex;
    flex-direction: column;

    label {
      color: #cbdbef;
      font-size: 12px;
      margin-bottom: 0.25rem;
    }

    input {
      width: calc(7.5rem * 5 / 8);
      height: 1.875rem;
      background: #474e60;
      border: 1px solid #8398b2;
      border-radius: 4px;
      color: #d6e0ef;
      padding: 0 0.5rem;
      font-size: 13px;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, sans-serif;

      &:focus {
        outline: none;
        border-color: #71a2ff;
        box-shadow: 0 0 0 1px rgba(113, 162, 255, 0.25);
      }
    }
  }
}
